th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background: url(/images/up_arrow.gif) no-repeat 0 0;
}

th .desc {
  background: url(/images/down_arrow.gif) no-repeat 0 0;
}

th a {
  padding-left: 20px;
}
