th
  .current
    padding-right: 20px
    background-repeat: no-repeat
    background-position: right center
  .asc
    background: url(/images/up_arrow.gif) no-repeat 0 0
  .desc
    background: url(/images/down_arrow.gif) no-repeat 0 0
  a
    padding-left: 20px

/* the overlayed element */
.apple_overlay
  display: none
  background-color: #fff
  width: 640px
  padding: 35px
  font-size: 11px

/* default close button positioned on upper right corner */
.apple_overlay .close
  background-image: url(/images/close.png)
  position: absolute
  right: 5px
  top: 5px
  cursor: pointer
  height: 35px
  width: 35px

#ui-timepicker-div
  z-index: 99999

.hide
  display: none

.report_project
  font-weight: bold
  font-size: 14pt
  color: RGB(200, 00 , 16)

.table_users
  border: 1px solid black
  width: 770px
  margin-left: 5%

.table_users_td_width
  width: 70px
  text-align: center

.report_tasks
  width: 100%
  
.report_tasks_td_task_name
  width: 40%

.report_tasks_td_time
  width: 39%

.report_tasks_td_ditails
  background-color: RGB(249, 201, 16)

#link_profile a
  font-size: 14pt
  color: #993300

.orange_stile h4
  color: #cc6600

#flash_notice
  color: #cc6600
  font-size: 10pt

#map_canvas
  width: 500px
  height: 300px
