%h3 Report for week
%table{:border => 1}
  %tr
    %th User
    %th Task name
    %th Description
    %th "Start time"
  - @list.each do |list|
    %tr
      %td= list.user.username
      %td=list.task_name
      %td= truncate(list.description, :length => 60)
      %td= list.start_time
     
